<div class="board-wrapper">
    <%= content_tag :div, id: 'position_data', data: { id: position.id,
                                                       position: position.board,
                                                       move: position.previous_move,
                                                       active_color: position.get_active_color } do %>
    <% end %>
    <nav class="nav-panel-left">
      <i class="nav-btn bi bi-skip-backward-fill" id="nav-start"></i>
      <i class="nav-btn bi bi-skip-start-fill" id="nav-previous"></i>
    </nav>

    <%= render "positions/board" %>

    <nav class="nav-panel-right">
      <i class="nav-btn bi bi-skip-end-fill" id="nav-next"></i>
      <i class="nav-btn bi bi-skip-forward-fill" id="nav-current"></i>
    </nav>

    <nav class="nav-panel-bottom">
      <i class="nav-btn bi bi-skip-backward-fill" id="nav-start"></i>
      <i class="nav-btn bi bi-skip-start-fill" id="nav-previous"></i>
      <i class="nav-btn bi bi-skip-end-fill" id="nav-next"></i>
      <i class="nav-btn bi bi-skip-forward-fill" id="nav-current"></i>
    </nav>


    <%= javascript_include_tag 'populate_board' %>
    <%= javascript_include_tag 'board_inputs' %>
    <%= javascript_include_tag 'skip_position' %>
    <script>populateBoard();</script>
    <script>boardInputs();</script>
    <script>skipPosition();</script>
</div>
