<div class="board-wrapper">
    <%= content_tag :div, id: 'position_data', data: { id: position.id,
                                                       position: position.board,
                                                       move: position.previous_move,
                                                       active-color: position.get_active_color } do %>
    <% end %>
    <%= button_to skip_to_position_path(position_id: position.id,
                                        option: :previous,
                                        format: :js),
                                      { form_class: "d-flex",
                                        class: "nav-btn previous" },
                                        remote: true do %>
        <i class="bi bi-skip-start-fill"></i>
    <% end %>

    <%= render "positions/board" %>

    <%= button_to skip_to_position_path(position_id: position.id,
                                        option: :next,
                                        format: :js),
                                      { form_class: "d-flex",
                                        class: "nav-btn next" },
                                        remote: true do %>
        <i class="bi bi-skip-end-fill"></i>
    <% end %>

    <%= javascript_include_tag 'populate_board' %>
    <%= javascript_include_tag 'board_inputs' %>
    <script>populateBoard();</script>
    <script>boardInputs();</script>

    <%# <i class="bi bi-skip-forward-fill"></i>
    <i class="bi bi-skip-end-fill"></i>
    <i class="bi bi-skip-backward-fill"></i> %>
</div>
