<%= simple_form_for @game, html: { class: "row justify-content-center mt-5" } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.hidden_field :white_type, value: 'User' %>
  <%= f.hidden_field :black_type, value: 'User' %>
  <%= f.hidden_field :white_id, value: 1 %>
  <%= f.hidden_field :black_id, value: 2 %>
  <%= f.hidden_field :status, value: :started %>

  <div class="form-actions col-6 d-flex justify-content-center">
    <%= f.button :submit, "Play Chess", class: "btn btn-play-chess", name: "play_chess" %>
  </div>
<% end %>
